.container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.selectionGroup {
    display: flex;
    align-items: center;
    gap: 15px;
}

.dropdown {
    margin-right: 20px;
}

.button {
    margin-top: 16px;
}